
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.outer{
    height: 100vh;
    /* background-image: url(./images/Untitled\ design\ \(3\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: #ffffffff;
}
.outer>h1{
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 3px;

}
.outer>h1::first-letter{
    font-size: 50px;
    
}
#wd{
    color: #ff477e;
}

form{
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px 30px;
    gap: 10px;
    box-shadow:5px 4px 20px white;
}

form>h2{
    text-align: center;
    text-transform: uppercase;
    word-spacing: 1.5px;
    letter-spacing: 2px;

}

form>label{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 19px;
}
form>input{
    padding: 8px;
    border-radius: 5px;
    border: none;
}
form>button{
    text-transform: capitalize;
    width: 30%;
    padding: 7px;
    letter-spacing: 1.5px;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 2px 2px 2px palevioletred;
    border: none;
    border-radius: 5px;
    background-color: #ff477e;
    color: #ffffffff;
    margin: 10px 0px;
    cursor: pointer;
}
button:hover{
    background-color: green;
     box-shadow: 2px 2px 3px rgb(10, 240, 79);
}
.signup{
    display: flex;
    justify-content: space-around;
}

form>.signup{

    display: flex;
    gap: 10px;

}

.signup>a{
    text-decoration: none;
    color: #ff477e;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}
a:hover{
    color: green;
}